doctype html
html
  head
    title #{title}  | Maxitwit
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div(class='page')
      h1 Maxitwit
      div(class='navigation')
        if g.user.id
          a(href=('/')) my timeline  | 
          a(href=('/public')) public timeline   |
          a(href=('/logout')) sign out #{g.user.username}
        else
          a(href=('/public')) public timeline   |
          a(href=('/register')) sign up   |
          a(href=('/login')) sign in    |
      if success_messages
        ul.flashes
          each message in success_messages
            li= message
      if error_messages
        ul.flashes
          each message in error_messages
            li= message
      div(class='body')
        block content
      div(class='footer') Maxitwit &mdash; An Express application
